@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #000300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* a {
  text-decoration: none;
}

a:hover {
  text-decoration: overline;
  color: rgba(51, 48, 229, 0.349);
} */

.loader {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#features {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#features-img {
  width: 400px;
  padding: 0 20px 0 20px;
}

#inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* box-shadow: 0 5px 15px rgba(131, 189, 253, 0.5); */
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

#features-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #000;
}

#features-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #ffffff;
}

#features-buttons {
  display: flex;
  justify-content: space-evenly;
}

#button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#indicator-buttons {
  border: none;
  cursor: pointer;
}

#indicators > button {
  margin: 20px;
  background: none;
}

.indicator-symbol {
  color: #83bdfd;
}

.indicator-symbol-active {
  color: #ffffff;
}

.features-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
