/* ProfilePage.css */
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .video-list {
    display: grid; /* Change from flex to grid */
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); 
    gap: 20px;
  }
  
  .video-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    display: flex; /* Ensure flex display for proper sizing */
    flex-direction: column;
  }
  
  .video-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .video-details {
    text-align: left;
  }
  
  .download-button {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  